.heroContainer {
    
    margin-bottom: 150px;
    position: relative;
    
}

.kr-subcontainer-1 {
    position: relative;
    height: 699px;
    width: 100%;
    background: url(../../../assets/Imgs/hero1.png) ;
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
    
    z-index: 90;
    animation: zoomOut 1s ease-in-out forwards;


}

.kr-subcontainer-1 .layer-1 {
    height: 581px;
    width: 100%;
    background: linear-gradient(#141414, #14141400);
    z-index: 97;
    position: absolute;
    top: 0;
}

.kr-subcontainer-1 .layer-2 {
    height: 581px;
    width: 100%;
    background: linear-gradient(#14141400, #141414);
    z-index: 97;
    position: absolute;
    bottom: 0;

}

.overlayImg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 98;
    opacity: 10%;
    mix-blend-mode: overlay;
}
.HeroCenter{
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.kr-subcontainer-1 .HeroCenterImg {
    background-color: transparent;
    transition: transform 2s ease-in-out;
    animation: rotateShrink 1s ease-in-out;

}
.HeroCenterImg:hover{
    cursor: pointer;
    
}

.kr-subcontainer-2 {
    position: absolute;
    bottom: -20px;
    padding: 0 150px;
    z-index: 100;
    background-color: transparent;


}

.kr-subcontainer-2 .kr-text-container {
    width: fit-content;
    text-align: center;
    background-color: transparent;
    text-align: center;
}

.kr-subcontainer-2 .kr-text-container h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: white;
    background-color: transparent;
}

.kr-subcontainer-2 .kr-text-container .longParagraph {

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    background-color: transparent;
}

.shortParagraph {
    display: none;
}

.kr-subcontainer-2 .kr-btn img {
    background-color: transparent;
    width: 24px;
    height: 24px;

}

.kr-subcontainer-2 .kr-btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
    overflow-x: hidden;
}


@keyframes zoomOut {
    0%{
        background-size: 200%;
    }
    100%{
        background-size: 100%;
    }
}

@keyframes rotateShrink {
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(0.7) rotate(180deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
    
}




@media (max-width: 1920px) and (min-width: 1700px) {
    .kr-subcontainer-1 {
        height: 836px;
        background-size: cover;
    }

    .HeroCenterImg {
        width: 470px;
        height: 470px;
    }

    .kr-subcontainer-2 .kr-text-container h1 {
        font-size: 58px;
        line-height: 87px;
    }

    .kr-subcontainer-2 .kr-text-container p {
        font-size: 18px !important;
        line-height: 27px !important;
        

    }

    .kr-subcontainer-2 {
        padding-left: 412px;
        padding-right: 412px;
        bottom: -200px;
    }
}

@media (max-width: 1280px) {
    .HeroCenterImg {
        width: 270px;
        height: 270px;
    }

    .kr-subcontainer-2 .kr-text-container h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .kr-subcontainer-2 {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 768px) {
    .HeroCenterImg {
        width: 250px;
        height: 250px;
    }

    .kr-subcontainer-1 {
        height: 600px;
    }

    .kr-subcontainer-2 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .kr-subcontainer-2 .kr-text-container h1 {
        font-size: 40px;
    }
    .shortParagraph {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #999999;
        background-color: transparent;
    }

    .longParagraph {
        display: none;
    }

}

@media (max-width: 480px) {
    .HeroCenterImg {
        width: 200px;
        height: 200px;
    }

    .kr-subcontainer-2 {
        padding-left: 20px;
        padding-right: 20px;
        bottom: -30px;
    }

    .kr-subcontainer-2 .kr-text-container h1 {
        font-size: 28px;
        line-height: 42px;
    }
    




}

@media (max-width: 390px) {
    .HeroCenterImg {
        width: 200px;
        height: 200px;
    }

    .kr-subcontainer-1 {
        height: 500px;
    }
    .HeroCenter{
        height: 80%;
    }

    .kr-subcontainer-2 {
        padding-left: 0px;
        padding-right: 0px;
        bottom: -60px;
    }
    .kr-subcontainer-2 .kr-text-container h1 {
        font-size: 28px;
        line-height: 42px;
    }




}