.subscriptionPricingZA {
  padding-top: 220px;
}
@media (max-width: 1440px) {
  .subscriptionPricingZA {
    padding-top: 198px;
  }
}
@media (max-width: 576px) {
  .subscriptionPricingZA {
    padding-top: 142px;
  }
}
