table {
  border: 1px solid var(--black-shade15);
  border-radius: 12px;
}

.plan-table th,
.plan-table td {
  border: 1px solid var(--black-shade15);
  width: 399.25px;
  padding: 30px;
  text-align: left;
  
}

.plan-table th {
  background-color: var(--black-shade06);
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;

}

.plan-table th .spe-table {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  background-color: var(--primary-color-red);
  padding: 6px 10px;
  border-radius: 2px;
  margin-left: 8px;
  
}

.plan-table td {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--primary-color-gray);
}

@media (max-width: 1440px) {
  .plan-table th,
  .plan-table td {
    width: 319.75px;
    padding: 24px;
  }
  .plan-table td {
    font-size: 16px;
    line-height: 24px;
  }
  .plan-table th {
    font-size: 18px;
    line-height: 27px;
  }
  .plan-table th .spe-table {
    padding: 6px;
    margin-left: 6px;
  }
  .plan-table th .spe-table {
    padding: 6px;
  }
}

@media (max-width: 768px) {
  .big-table-dad {
    display: none;
  }
}
