.castSliderWrapper {
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.castSliderItem {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.castTit {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--primary-color-gray);
  margin: 0;
}
.castImg {
  width: 102%;
  aspect-ratio: 1 / 1.07;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
.castControlsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -25%;
  right: 0;
  width: fit-content;
  z-index: 10 !important;
  gap: 10px;
}

@media (max-width: 1440px) {
  .castImg {
    width: 115%;
    aspect-ratio: 1 / 1.02;
    border-radius: 10px;
  }
  .castSliderWrapper {
    padding-top: 20px;
  }
}
@media (max-width: 1200px) {
  .castControlsWrapper {
    top: -42px;
  }
}
@media (max-width: 992px) {
  .castImg {
    width: 100%;
    aspect-ratio: 1 / 1.02;
  }
  .castControlsWrapper {
    top: -40px;
  }
}
@media (max-width: 576px) {
  .castImg {
    width: 122%;
    aspect-ratio: 1 / 1.07;
  }
  .castSliderWrapper {
    padding-top: 16px;
  }
  .castControlsWrapper {
    top: -35px;
  }
}
