.moviesPageDes {
  gap: 14px;
}

.descriptionParag {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: white;
}

@media (max-width: 1440px) {
  .moviesPageDes {
    gap: 10px;
  }

  .descriptionParag {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  .moviesPageDes {
    gap: 8px;
  }

  .descriptionParag {
    font-size: 14px;
    line-height: 21px;
  }
}
