.main-title {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.main-paragraph {
  font-size: 18px;
  line-height: 150%;
  color: var(--primary-color-gray);
}

.toggle-btn {
  background-color: var(--black-shade06);
  padding: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid var(--black-shade15);
}

.toggle {
  color: var(--primary-color-gray);
}

.btn-check:checked + .btn,
.btn.active {
  color: var(--bs-btn-active-color);
  background-color: var(--black-shade15);
  border-color: var(--black-shade15);
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.w-{
  width:15%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
     padding: 0;
}