.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan {
  background-color: var(--black-shade10);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.plan h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.plan p {
  color: var(--primary-color-gray);
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.price{
 background-color: inherit;
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 73%;
  color: var(--absolute-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;
}

.price span {
  color: var(--primary-color-gray);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 73%;
  color: var(--primary-color-gray);
}

button {
  background-color: var(--primary-color-red);
  color: var(--absolute-white);
  border: none;
  padding: 18px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button.trial {
  background-color: var(--black-shade08);
  border: 1px solid var(--black-shade15);
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.outline-project{
    background-color: var(--primary-color-red);
    border: none;
}

.btn:hover{
  opacity: 0.9;
}
