.plan {
  background-color: var(--black-shade10);
  font-family: "Manrope";
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.child:nth-child(even){
  padding: 0 10px !important;
}

.card-features {
    line-height: 73%;
    color: var(--primary-color-gray);
}

.card-paragraph {
  font-size: 16px;
  height: 30%;
  line-height: 150%;
}

.price{
  margin-bottom: 20px;
  font-weight: 600;
  align-items: flex-end;
}

.period {
  color: var(--primary-color-gray);
}

.h-{
  height: 40%;
}

@media (max-width:1920px){

}