.FAQ-accordion{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.left-acco , 
.right-acco{
  width: 758px;
}
@media (max-width:1900px) {
  .FAQ-accordion{
    gap: 20px;
  }
  .left-acco , 
  .right-acco{
    width: 620px;
  }
}

@media (max-width:1416px) {
  .FAQ-accordion{
    gap: 15px;
    justify-content: space-around;
  }
  .left-acco , 
  .right-acco{
    width: 460px;
  }
}

@media (max-width:358px) {
  .FAQ-accordion{
    display: flex;
    padding: 0;
    width: 100%;
    gap: 20px;
    padding: 0 145px;
  }}

  /* edit */
  @media (max-width:665px) {
    .FAQ-accordion .left-acco,
    .FAQ-accordion .right-acco{
        gap: 20px;
        width: 350px;
    }
    .FAQ-accordion{
      width: 355px;
      align-items: center;
    }

  }
  
  @media (max-width:389px) {
    
    .FAQ-accordion,
    .FAQ-accordion .left-acco,
    .FAQ-accordion .right-acco{
        gap: 10px;
        width: 300px;
        padding: 0;
    }
    .FAQ-accordion{
        align-items: center;
        justify-content: center;
    }
  }


