.FAQ-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 40px;
}

.FAQ-column {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

@media(max-width: 992px){
  .faqTMA {
      padding-bottom: 20px;
    }
}   

@media (max-width: 768px) {
  .FAQ-column {
    flex: 1 1 100%;
    max-width: 100%;
  }
     
}