.faq-button{
    background-color: red;
    padding: 18px 24px;
    height: fit-content;
    width: fit-content;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
}
.FAQ-top h2{
    color: #fff;
    font-weight: bold;
}
@media (max-width:1320px) {
    .FAQ-top h2{
        font-weight: 700;
        font-size: 38px;
        line-height: 57px;
    }
}
@media (max-width:1060px) {
    .FAQ-top h2{
        font-size: 28px;
        line-height: 42px;
    }
}
@media (max-width:358px) {
    .FAQ-top h2{
        font-size: 20px;
        line-height: 30px;
    }
}
.FAQ-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}
.xContainer {
    padding: 0 8.4375%;
  }
  /* .customMargin {
    margin-bottom: 150px;
} */

@media (max-width: 1440px) {
    .xContainer {
      padding: 0 5.5556%;
    }
    /* .customMargin {
        margin-bottom: 120px;
    } */
  }
  
  @media (max-width: 576px) {
    .xContainer {
      padding: 0 4.1026%;
    }
     .customMargin {
         margin-bottom: 80px;
     }
  }

  .faq-top-left p{
    color: gray;
  }

  .FAQ-accordion{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    gap: 80px;
    padding: 0 145px;
  }
  /* //////////////edit */
  @media (max-width :1530px) {
    .FAQ-accordion{
        gap: 40px;
        padding: 0 5.5556%;
    }
    .FAQ-accordion .left-acco,
    .FAQ-accordion .right-acco
    {
        width: 620px;
    }
  }
  /* edit */
  @media (max-width:665px) {
    .FAQ-accordion,
    .FAQ-accordion .left-acco,
    .FAQ-accordion .right-acco{
        gap: 20px;
        width: 358px;
    }
    .FAQ-accordion{
        flex-direction: column;
        justify-content: center;
        padding: 0 4.1026%;
    }
  }
  @media (max-width:1900px) {
    .FAQ-accordion{
        gap: 40px;
        justify-content: space-between;
    }
  }
  @media (max-width:1439px) {
    .FAQ-accordion{
        flex-direction: column;
        align-items: center;
         padding: 0 4.1026%;
    }
  }
  @media (max-width:389px) {
    .FAQ-accordion,
    .FAQ-accordion .left-acco,
    .FAQ-accordion .right-acco{
        gap: 10px;
        width: 300px;
        padding: 0;
    }
    .FAQ-accordion{
        align-items: center;
        justify-content: center;
    }
  }


