.footer {
    background-color: var(--black-shade06);
}
.footerTitleZA {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--absolute-white);
    text-decoration: none;
    padding-bottom: 24px;
}
.footerTopSection {
    padding-top: 100px;
    padding-bottom: 86px;
}
.footerElementZA {
    padding-bottom: 14px;
}
.footerElementZA, .footerBottomElementZA {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--primary-color-gray);
    text-decoration: none;
    margin: 0;

}
.footerSocialZA {
    border: 1px solid var(--black-shade15);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--black-shade10);
    margin-right: 14px;
}
.footerBottomSection {
    border-top: 1px solid var(--black-shade15);
    padding-top: 24px;
    padding-bottom: 50px ;
}
.socialIconZA {
    width: 24px;
    height: 24px;
}
.customFootergapZA {
    row-gap: 22px;
}
.customBFootergapZA {
    row-gap: 20px
}
@media (max-width: 1440px) {
    .footerTopSection {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .footerTitleZA {
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 20px;
    }
    .footerElementZA, .footerBottomElementZA {
        font-size: 16px;
        line-height: 24px;
    }
    .footerElementZA {
        padding-bottom: 10px;
    }
    .footerSocialZA {
        padding: 12px;
        margin-right: 10px;
    }
    .footerBottomSection {
        padding-top: 20px; 
        padding-bottom: 40px; 
    }
    .socialIconZA {
        width: 20px;
        height: 20px;
    }
    
}
@media (max-width: 576px) {
    .footerTopSection {
        padding-top: 50px;
        padding-bottom: 42px;
    }
    .footerTitleZA {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 16px;
    }
    .footerElementZA, .footerBottomElementZA {
        font-size: 14px;
        line-height: 21px;
    }
    .footerElementZA {
        padding-bottom: 8px;
    }
    .footerSocialZA {
        padding: 12px;
        margin-right: 10px;
        border-radius: 6px;
    }
    .footerBottomSection {
        padding: 20px 0px;
    }
  
}