.footer {
    background-color: var(--black-shade06);
}

.footerTitleZA {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--absolute-white);
    text-decoration: none;
    padding-bottom: 24px;
}
.footerTitleZA:hover {
        filter: brightness(70%);

}
.footerTopSection {
    padding-top: 100px;
    padding-bottom: 86px;
}

.footerElementZA {
    padding-bottom: 14px;
}

.footerElementZA,
.footerBottomElementZA {
    font-size: 18px;
    line-height: 27px;
    color: var(--primary-color-gray);
    text-decoration: none;
    margin: 0;
}
.footerElementZA {
    font-weight: 500;
}
.footerBottomElementZA {
    font-weight: 400;
}
.footerElementZA:hover,
.footerBottomElementZA:hover {
    filter: brightness(200%);
}
.footerSocialZA {
    border: 1px solid var(--black-shade15);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--black-shade10);
    margin-right: 14px;
    position: relative;
}

.footerSocialZA::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    animation: none;
}

.footerSocialZA:hover::before {
    border-color: white;
    animation: animate-border .5s linear;
}

.footerBottomSection {
    border-top: 1px solid var(--black-shade15);
    padding-top: 24px;
    padding-bottom: 50px;
}

.socialIconZA {
    width: 24px;
    height: 24px;
}

.customFootergapZA {
    row-gap: 22px;
}

.customBFootergapZA {
    row-gap: 20px
}

@keyframes animate-border {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    }

    25% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    50% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
    }

    75% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@media (max-width: 1440px) {
    .footerTopSection {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .footerTitleZA {
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 20px;
    }

    .footerElementZA {
        font-size: 16px;
        line-height: 24px;
    }
    .footerBottomElementZA {
        font-size: 14px;
        line-height: 21px;
    }

    .footerElementZA {
        padding-bottom: 10px;
    }

    .footerSocialZA {
        padding: 12px;
        margin-right: 10px;
        border-radius: 6px;
    }

    .footerBottomSection {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .socialIconZA {
        width: 20px;
        height: 20px;
    }

}

@media (max-width: 576px) {
    .footerTopSection {
        padding-top: 50px;
        padding-bottom: 42px;
    }

    .footerTitleZA {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 16px;
    }

    .footerElementZA,
    .footerBottomElementZA {
        font-size: 14px;
        line-height: 21px;
    }

    .footerElementZA {
        padding-bottom: 8px;
    }

    .footerSocialZA {
        padding: 12px;
        margin-right: 10px;
    }

    .footerBottomSection {
        padding: 20px 0px;
    }

}