.MovieShowCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 377px;
    border-radius: 12px;
    border: solid 1px #262626;
    background-color: #1A1A1A;
    width: fit-content;
}
.MustWatchCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 500px;
    border-radius: 12px;
    border: solid 1px #262626;
    background-color: #1A1A1A;
    width: fit-content;
}
.mustWatchThumbnail{
    width: 319.5px;
    height: 404px;
    border-radius: 12px;
}
.thumbnailImg{
    width: 243.6px;
    height: 281px;
    border-radius: 12px;
}
.detailSection{
    background-color: transparent;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  
}
.lengthTime {
    text-wrap: nowrap;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items:center ;
    padding: 6px 10px 6px 6px;
    border-radius: 51px;
    background-color: #141414;
    border: solid 1px #262626;
    color: #999999;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
   
}
.releaseDate {
    text-wrap: nowrap;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 6px 10px 6px 6px;
    border-radius: 51px;
    background-color: #141414;
    border: solid 1px #262626;
    color: #999999;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
   
}
.viewCount{
    text-wrap: nowrap;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 6px 10px 6px 6px;
    border-radius: 51px;
    background-color: #141414;
    border: solid 1px #262626;
    color: #999999;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}
.viewCount .ratingImage{
    width: 97px;
    height: 18px;
    margin: auto 4px;
}
.viewCount img ,.lengthTime img{
    width: 25px;
    height: 25px;
    margin-right: 2px;
}

@media (max-width:1440px) {
    .MovieShowCard {
        padding: 16px !important;
        height: 308px !important;
        border-radius: 10px !important;
    }
    .thumbnailImg{
        width: 192px !important;
        height: 232px !important;
        border-radius: 10px !important;
    }
    .detailSection{
        margin-top: 16px !important;
    }
    .lengthTime , .releaseDate, .viewCount {
        padding: 4px 8px 4px 4px !important;
        font-size: 12px !important;
        line-height: 18px !important;
    }
    .lengthTime img, .viewCount img{
        width: 20px !important;
        height: 20px !important;

    }
    .viewCount .ratingImage{
        width: 74px !important;
        height: 14px !important;
    }
    .MustWatchCard {
        padding: 16px;
        height: 404px;
        border-radius: 10px;
    }
    .mustWatchThumbnail{
        width: 253px;
        height: 324px;
        border-radius: 10px;
    }
    

    
}
@media (max-width:390px) {
    .MovieShowCard {
        padding: 12px !important;
        height: 259px !important;
    }
    .thumbnailImg{
        width: 157.6px !important;
        height: 195px !important;
    }
    .lengthTime img, .viewCount img{
        margin-right: 1px !important;
    }
    .detailSection{
        margin-top: 12px !important;
    }
    .MustWatchCard {
        padding: 12px;
        height: 303px;
        border-radius: 10px;
    }
    .mustWatchThumbnail{
        width: 207px;
        height: 235px;
        
    }
    
}