.showsSectionZA {
    border: 1px solid var(--black-shade15);
    position: relative;
    padding: 50px;
    border-radius: 12px;
}

.showsBadgeZA {
    background-color: var(--primary-color-red);
    position: absolute;
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 24px;
    border-radius: 8px;
    top: -4%;
}
@media (max-width: 576px) {
    .showsSectionZA {
        border: none;
        padding: 0px;
    }
    .showsBadgeZA {
        display: none;
    }
}
.MA-pop-sh{
    margin-top: 100px;
}