.devicesCardsRow {
  gap: 30px;
}
.StreamingExpTitleTay {
  width: 77%;
}

@media (max-width: 1440px) {
  .StreamingExpTitleTay {
    width: 86% !important;
  }
}

@media (max-width: 576px) {
  .StreamingExTitleTay {
    width: 100%;
  }
}
