@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
}

:root {

  --absolute-white: #ffffff;
  --absolute-black: #000000;
  --primary-color-red: #e50000;
  --primary-color-gray: #999999;
  --black-shade06: #0f0f0f;
  --black-shade08: #141414;
  --black-shade10: #1a1a1a;
  --black-shade12: #1f1f1f;
  --black-shade15: #262626;
  --black-shade20: #333333;
  --black-shade25: #404040;
  --black-shade30: #4d4d4d;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--black-shade08);
}

.xContainer {
  padding-left:  8.4375%;
  padding-right:  8.4375%;
}

.customMargin {
  margin-bottom: 150px;
}

@media (max-width: 1440px) {
  .xContainer {
    padding-left:  5.5556%;
    padding-right:  5.5556%;
  }

  .customMargin {
    margin-bottom: 120px;
  }
}

@media (max-width: 576px) {
  .xContainer {
    padding-left: 4.1026%;
    padding-right: 4.1026%;
  }

  .customMargin {
    margin-bottom: 80px;
  }

}