@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", serif;
    background-color: var(--black-shade08);
    
}
:root {
    --absolute-colors2: #FFFFFF;
    --absolute-colors1: #000000;
    --primary-color-red: #E50000;
    --primary-color-gray: #999999;
    --black-shade06: #0F0F0F;
    --black-shade08: #141414;
    --black-shade10: #1A1A1A;
    --black-shade12: #1F1F1F;
    --black-shade15: #262626;
    --black-shade20: #333333;
    --black-shade25: #404040;
    --black-shade30: #4D4D4D;
    
}