.tayTotalCard {
    padding: 5px;
    /* gap: 3px; */
    border-radius: 12px;
    background: rgba(26, 26, 26, 1);
    border: 1px solid rgba(38, 38, 38, 1);
    /* max-width: 90%; */
    /* margin: auto; */
}

.tay-TitleCard {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    /* gap: 2px; */

}

.tay-TitleCardh2 {
    font-size: 2.5px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: rgba(153, 153, 153, 1);
}

.tay-TitleCardbutton {
    /* padding: 1px 2px; */
    gap: 1px;
    border-radius: 8px;
    background: rgba(20, 20, 20, 1);
    border: 1px solid rgba(38, 38, 38, 1);
    cursor: pointer;
}

.spanButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5px;
}

.spanButtonH6 {
    font-size: 2px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.spanButtonimg {
    margin: 0.2px;
    width: 3px;
    height: auto;
}

/* استجابة التصميم للشاشات الصغيرة */
@media (max-width: 768px) {
    .tayTotalCard {
        padding: 6px;
        gap: 4px;
    }
    .tay-TitleCardh2 {
        font-size: 4px;
    }
    .tay-TitleCardbutton {
        padding: 3px;
    }
    .spanButtonH6 {
        font-size: 3px;
    }
}

@media (max-width: 480px) {
    .tayTotalCard {
        padding: 8px;
        gap: 5px;
    }
    .tay-TitleCard {
        display: flex;
        
    }
    .tay-TitleCardh2 {
        font-size: 5px;
    }
    .tay-TitleCardbutton {
        /* width: 100%; */
        text-align: center;
    }
    .spanButtonH6 {
        font-size: 4px;
    }
}
