.tayTotalCard {
  gap: 40px;
}

.tayTitleCard {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tayTitleCardbutton {
  padding: 14px 16px;
  border-radius: 8px;
  background: var(--black-shade08);
  border: 1px solid var(--black-shade15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 4px;
}
.spanButtonimg {
  width: 30px;
  height: 30px;
}

.spanButtonH6 {
  font-size: 18px;
  line-height: 27.54px;
  margin: 0;
}
@media (max-width: 1440px) {
  .tayTotalCard {
    gap: 30px;
  }
  .tayTitleCard {
    padding-bottom: 30px;
  }

  .tayTitleCardbutton {
    padding: 12px;
    border-radius: 6px;
    gap: 4px;
  }
  .spanButtonimg {
    width: 24px;
    height: 24px;
  }
  .spanButtonH6 {
    font-size: 14px;
    line-height: 21.42px;
  }
}

@media (max-width: 576px) {
  .tayTotalCard {
    gap: 24px;
  }

  .tayTitleCard {
    padding-bottom: 24px;
  }
}
