.moviesInfoSA {
  padding: 50px;
  gap: 30px;
  border-radius: 12px;
  border: 1px solid var(--black-shade15);
  background-color: var(--black-shade10);
}

.year {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  padding-bottom: 14px;
}

.titleSA {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0 !important;
  color: var(--primary-color-gray);
}
.pargraphSA {
  font-size: 20px;
  font-weight: 600; 
  line-height: 30px;
  margin: 0 !important;
  color: white;
}
.pargraphBordeSA {
font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0 !important;
  color: white;
}
.borderSA {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.bordText {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--black-shade15);
  background: var(--black-shade08);
  /* need to fix this */
  text-wrap: nowrap;
  }
.ratingSA,
.infoLanguageSA,
.gernesSA,
.director,
.music {
  margin-top: 30px;
}
.borderRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.borderStar {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--black-shade15);
  background-color: var(--black-shade08);
}

.controlStarParagraph {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 4px;
  gap: 4px;
}
.iconStars {
  width: 129.09px;
}

.pargraphNumber {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin: 0 !important;
  color: #ffffff;
}
.bordLast {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 14px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--black-shade15);
  background-color: var(--black-shade08);
}
.photoSA {
  width: 56.56px;
  height: 60px;
  border-radius: 8px;
}
.controlParagraphEnd {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.paragraphEnd {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #ffffff;
  margin: 0 !important;
}
.paragraphENdia {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--primary-color-gray);
  margin-top: 8px;
  margin: 0 !important;
}
.bordShowText {

}

@media (max-width: 1440px) {
  .moviesInfoSA {
    padding: 40px;
    gap: 24px;
    border-radius: 10px;
  }
  .iconClender {
    width: 20px;
    height: 20px;
  }
  .titleSA {
    font-size: 16px;
    line-height: 24px;
  }
  .pargraphSA {
    font-size: 16px;
    line-height: 24px;
  }
  .bordText {
    padding: 6px 12px;
    border-radius: 6px;
  }
  .pargraphBordeSA {
    font-size: 14px;
    line-height: 21px;
  }
  .borderStar {
    padding: 14px;
  }
    .iconStars {
      width: 94.82px;
    }
  .pargraphNumber {
    font-size: 14px;
    line-height: 21px;
  }
  .controlStarParagraph {
    margin-top: 2px;
  }
  .bordLast {
    padding: 12px;
  }
 .paragraphEnd {
  font-size: 16px;
    line-height: 24px;
  }
    .paragraphENdia{
      font-size: 14px;
    line-height: 21px;
  }
  }



@media (max-width: 576px) {
  .moviesInfoSA {
    padding: 24px;
    gap: 20px;
    border-radius: 10px;
  }
  .titleSA {
    font-size: 14px;
    line-height: 21px;
  }
  .pargraphSA {
    font-size: 16px;
    line-height: 24px;
  }
  .bordText {
    padding: 6px 12px;
    border-radius: 6px;
  }
  .borderStar { 
    padding: 12px;
  }
  .pargraphNumber {
    font-size: 14px;
    line-height: 21px;
  }
  .controlStarParagraph {
    gap: 2px;
  }

}
