.moviesInfoSA {
  padding: 50px;
  gap: 30px;
  border-radius: 12px;
  border: 1px solid var(--black-shade15);
  background-color: var(--black-shade10);
}


.year {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  padding-bottom: 14px;
}

.titleSA {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0 !important;
  color: var(--primary-color-gray);
}
.pargraphSA {
  font-size: 20px;
  font-weight: 500; /* 500 is better*/
  line-height: 30px;
  margin: 0 !important;
  color: white;
}
.borderSA {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.bordText {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--black-shade15);
  background: var(--black-shade08);
}
.ratingSA,
.infoLanguageSA,
.gernesSA,
.director,
.music {
  margin-top: 30px;
}
.borderRating {
  display: flex;
  gap: 20px;
}
.borderStar {
  padding: 16px;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #262626;
  background-color: #141414;
}

.controlStarParagraph {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
.iconStars {
    width: 80%;
}

.pargraphNumber {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin: 0 !important;
  color: #ffffff;
}
.bordLast {
  padding: 14px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #262626;
  background-color: #141414;
  display: flex;
}
.photoSA {
  width: 56.56px;
  height: 60px;
  border-radius: 8px;
}
.controlParagraphEnd {
  flex-direction: column;
}
.paragraphEnd {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #ffffff;
}
.paragraphENdia {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #999999;
  margin-top: 8px;
}

@media (max-width: 1440px) {
  .moviesInfoSA {
    padding: 40px;
    gap: 24px;
    border-radius: 10px;
  }
  .titleSA {
    font-size: 16px;
    line-height: 24px;
  }
  .pargraphSA {
    font-size: 14px;
    line-height: 21px;
  }
  .bordText {
    height: 33px;
    padding: 6px 12px;
    border-radius: 6px;
  }
  .borderStar {
   
    padding: 14px;
  }
  .pargraphNumber {
    font-size: 14px;
    line-height: 21px;
  }
  .controlStarParagraph {
    margin-top: 2px;
  }
  
}

@media (max-width: 576px) {
  .moviesInfoSA {
    padding: 24px;
    gap: 20px;
    border-radius: 10px;
  }
  .titleSA {
    font-size: 14px;
    line-height: 21px;
  }
  .pargraphSA {
    font-size: 14px;
    line-height: 21px;
  }
  .bordText {
    height: 33px;
    padding: 6px 12px 6px 12px;
    border-radius: 6px;
  }
  .borderStar {
    
    padding: 12px;
  }
  .pargraphNumber {
    font-size: 14px;
    line-height: 21px;
  }
  .controlStarParagraph {
    gap: 2px;
  }

}
