.SupportForm {

    width: 61.4%;
    padding: 50px;
    border-radius: 12px;
    border: solid 1px #262626 !important;

}

.SupportFormInput {
    padding: 20px !important;
    border-radius: 8px !important;
    border: solid 1px #262626 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    background-color: #141414;
    color: #999999;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputLabel {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #FFFFFF;
}

.PhoneNumberContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.CountrySelector {
    padding: 17px 12px 17px 12px;
    gap: 6px;
    border-radius: 8px;
    border: solid 1px #262626;
    background-color: #141414;
    width: fit-content !important;
    height: fit-content !important;
    color: #999999;
}

.CountrySelector :hover {
    background-color: #E50000 !important;
}

.CountrySelector img {
    width: 40px;
    height: 26px;
}

.bottom-margin {
    margin-bottom: 50px;
}

.SupportFormArea {
    height: 163px;
    padding: 20px !important;
    border-radius: 8px !important;
    border: solid 1px #262626 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    background-color: #141414;
    color: #999999;
    overflow: hidden;
    resize: none;

}

.CheckBoxArea .unchecked {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px #262626 !important;
    background-color: #0F0F0F !important;
}

.CheckBoxArea {
    display: flex;
    align-items: center;
    gap: 8px;
}

.CheckBoxArea .checked {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px #262626;
    background-color: #E50000;

}

.CheckBoxArea p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #999999;
    margin: auto 0;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}


.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.custom-checkbox .checkbox-mark {
    width: 28px;
    height: 28px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked+.checkbox-mark {
    background-color: #E50000;
}

/* Add a checkmark */
.custom-checkbox input[type="checkbox"]:checked+.checkbox-mark::after {
    content: "✓";
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Hover effect */
.custom-checkbox:hover .checkbox-mark {
    border-color: #999999;
}



@media (max-width:1440px) {
    .SupportForm {

        width: 61.4%;
        padding: 40px;
        border-radius: 10px;
    }

    .inputLabel {
        font-size: 16px;
        line-height: 24px;
    }

    .SupportFormInput {
        padding: 16px !important;
        font-size: 14px !important;
        line-height: 21px !important;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .SupportFormArea {
        height: 129px;
        padding: 16px !important;
        border-radius: 6px !important;
        font-size: 14px !important;
        line-height: 21px !important;

    }

    .bottom-margin {
        margin-bottom: 40px;
    }

    .custom-checkbox .checkbox-mark {
        width: 24px;
        height: 24px;
    }

    .CheckBoxArea p {
        font-size: 16px;
        line-height: 24px;

    }
}
@media (max-width:992px) {
    .SupportForm {
        width: 100%;
        
       
    }
    
}
@media (max-width:768px) {
    .CheckBoxArea {
        margin-bottom: 20px;
    }
    
}

@media (max-width:390px) {
    .SupportForm {
        width: 100%;
        padding: 24px;
       
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .bottom-margin {
        margin-bottom: 20px;
    }
}