.accordion{
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    width: 758px ; 
    padding: 34px 0px 0px 0px;
    /* gap: 10px; */
}

@media (max-width:1900px) {
    .accordion{
        width: 620px;
        padding: 24px;
    }
}
@media (max-width:1416px) {
    .accordion{
        width: 450px;
        padding: 14px;
    }
} 
/* edit////// */
/* edit */

.accordion .accordion-num{
    padding: 20px;
    border-radius: 10px;
    background: rgba(31, 31, 31, 1);
    font-size: 20px;
    line-height: 27.32px;
    font-weight: 600px;
    border: 1px ;
}
/* edit//////////// */
@media (max-width:1530px) {
    .accordion .accordion-num{
        font-size: 16px;
        padding: 16px;
        border-radius: 8px;
    }
}
.accordion .accordion-body .accordion-que{
   font-size: 22px;
   line-height: 33px ; 
   /* width: 558px; */
}
/* edit ///  */
@media (max-width:1530px) {
    .accordion .accordion-body {
        /* width: 466px; */
        font-size: 20px;
    }
    .accordion .accordion-body .accordion-ans{
        font-size: 16px;
    }
}
.accordion-state{
    position: absolute;
    right: 0;
}
.hide{
    display: none;
}

.FAQ-line{
    background: linear-gradient(to top left,  rgba(229, 0, 0, 0)50%, rgba(229, 0, 0, 1) 81%, rgba(229, 0, 0, 0) 100%);
    width:758px ;
     height: 1px;
     margin-top: 20px;
}
@media (max-width:1900px) {
    .FAQ-line{
        width: 620px;
    }
}
@media (max-width:1416px) {
    .FAQ-line{
        width: 450px;
    }
} 
/* edit */
@media (max-width:665px) {
    .FAQ-line{
        width: 358px ;
    }
}
@media (max-width:388px) {
    .FAQ-line{
        width: 300px ;
    }
}
/* edit */
@media (max-width:665px) {
    .accordion .accordion-body .accordion-que{
        width: 200px;
        font-size: 18px;
    }
    .accordion .accordion-body .accordion-ans{
        font-size: 14px;
    }
    .accordion .accordion-num{
        font-size: 16px;
        padding: 12px;
    }
    .accordion-state img,
    .accordion-state
    {
        width: 24px;
    }
    .accordion
    {
        width: 340px;
        gap: 12px;
    }
    .accordion .accordion-body{
        width: 246px;
    }
}

@media (max-width:389px) {
    .accordion .accordion-num{
        font-size: 10px;
        padding: 8px;
    }
    .accordion .accordion-body .accordion-que{
        width: 200px;
        font-size: 12px;
    }
    .accordion 
    {
        width: 300px;
    }
    .accordion-body 
    {
        width: 200px;
    }
}
