

.castTit {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--primary-color-gray);
    margin: 0;
    background-color: transparent;
}

@media(max-width: 1440px) {
.castTit {
        font-size: 16px;
        line-height: 24px;
     
    }
}
@media(max-width: 576px) {
.castTit {
        font-size: 14px;
        line-height: 21px;
     
    }
}